<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Carrito Usuario</h1>
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">user</th>
                    <th scope="col">product:<br>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{Arr}}
                {{#each Arr}}
                {{#each this}}
                    <tr>                    
                        <th scope="row">{{_id}}</th>
                        <td>
                        {{#if products}}
                            <ul>
                            {{#each products}}
                                <li>{{id}} - {{quantity}} und</li>
                            {{/each}}
                            </ul>                         
                        {{else}}
                            <i>No hay productos</i>
                        {{/if}}
                        </td>
                    </tr>
                {{/each}}
                {{/each}}
            </tbody>
            </table>
        </div>
    </div>
</div>