<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="avatar"><img  src="{{user.image}}" alt="{{user.name}}"></div>
            <h1>Nombre: {{user.name}}</h1>
            <p>role: {{user.role}}</p>
            <p>mail: {{user.email}}</p>
            <p>cart: {{user.cart}}</p>
            <p>id: {{user.id}}</p>
    
        </div>
    </div>
</div>
