<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10 col-md-6 m-3">
            <form id="productForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Nombre:</label>
                    <input id="title" name="title" type="text" class="form-control"  placeholder="Nombre del producto" >
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio:</label>
                    <input id="price" name="price" type="number" step=.01 class="form-control"  placeholder="0,00 €" >
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Subir imagen</label>
                    <input id="image" name="image" class="form-control" type="file" >
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Crear producto</button>
                </div>
            </form>
        </div>
    </div>


</div>
 {{#if Arr }}
    <div class="product-table">
        <div class="container">
            <div class="row  justify-content-md-center">
                <div class="col-10 col-md-6 m-3">
                    <h1>tabla de productos</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Name</th>
                                <th scope="col">title</th>
                                <th scope="col">image</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {{#each Arr}}
                                <tr>
                                    <th scope="row">{{this.id}}</th>
                                    <td>{{this.title}}</td>
                                    <td>{{this.price}}€</td>
                                    <td><div class="box-img"><img src="http://localhost:8080/img/{{this.image}}"  alt="{{this.title}}"></div></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{else}}
       <h1>no hay productos</h1>    
    </div>
{{/if}}
                      
                
                   
                
            

<!-- scripts products -->
<script src="js/productNew.js"></script>   