<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">code</th>
                    <th scope="col">nombre</th>
                    <th scope="col">descripción</th>
                    <th scope="col">precio</th>
                    <th scope="col">stock</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{!-- {{#each product}}
                    <tr>                    
                        <th scope="row">{{_id}}</th>
                        <td>{{code}}</td>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{price}}</td>
                        <td>{{quantity}}</td>
                        <td>{{image}}</td>
                        <th><a data_product="{{_id}}" class="addCart">Add cart</a></th>
                    </tr>
                {{/each}} --}}
            </tbody>
            </table>
        </div>
    </div>
</div>