    <div class="container-fluid ">
        <div class="row ">
            <div class="col-12  mb-3">
                <h1>👩‍🚀 Lista de Usuarios</h1>
                {{#if Arr}}
                        {{#each Arr}}
                            <form id="{{this._id}}">
                                <div class="form-content-border">
                                    <div class="row" >
                                        <div class="col-3" style="text-align: center;">
                                            <div class="form-avatar">
                                            <img  src="{{this.image}}" alt="{{this.first-name}} {{this.second-name}}"/>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="mb-2"><strong>id: {{this._id}}</strong></div>
                                            <div class="row mb-2">
                                                <div class="col-2"> 
                                                    <label for="first_name" class="form-label">Nombre:</label>
                                                    <input id="first_name" name="first_name" type="text" class="form-control"   value="{{this.first_name}}" >
                                                </div>
                                                <div class="col-4">
                                                    <label for="last_name" class="form-label">Apellidos:</label>
                                                    <input id="last_name" name="last_name" type="text" class="form-control"  value="{{this.last_name}}" >
                                                </div>
                                                <div class="col-2">
                                                    <label for="age" class="form-label">Años:</label>
                                                    <input id="age" name="age" type="number" class="form-control "  value="{{this.age}}">
                                                </div>
                                                <div class="col-4">
                                                    <label for="email" class="form-label">Email:</label>
                                                    <input id="email" name="email" type="email" class="form-control"  value="{{this.email}}" >
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-2">
                                                    <label for="role" class="form-label">Rol:</label>
                                                    <select id="role" class="form-select " aria-label=".form-select-sm example" id="role" name="role" type="text" class="form-control"   >
                                                        <option selected value="{{this.role}}">{{this.role}}</option>
                                                        <option value="user">usuario</option>
                                                        <option value="admin">administrador</option>
                                                    </select>
                                                </div>     
                                                <div class="col-6">
                                                    <label for="address" class="form-label">Dirección:</label>
                                                    <input id="address" name="address" type="text" class="form-control"  value="{{this.address}}" >
                                                </div>
                                                <div class="col-4">
                                                    <label for="phone" class="form-label">teléfono:</label>
                                                    <input id="phone" name="phone" type="text" class="form-control"  value="{{this.phone}}" >
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <input class="form-control form-control-sm" type="file" id="image" name="image" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" form-button-right" >
                                    <button type="button" onclick="seeElement('{{this._id}}')" class="btn btn-primary" alt="ver Información">👁‍🗨 Ver información</button>
                                    <button type="button" onclick="updateElement('{{this._id}}')" class="btn btn-warning" alt="Actualizar">➕ Actualizar información</button>
                                    <button type="button" onclick="deleteElement('{{this._id}}')" class="btn btn-danger" alt=" borrar">💀 Borrar elemento</button>
                                </div>
                            </form>
                        {{/each}}
                {{else}}
                    <h1>No hay usuarios</h1>
                {{/if}} 
            </div>
        </div>
    </div>
<script src="/js/admin-user.js"></script>
