    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-8  mb-3">
                {{#if Arr}}
                    <h1>👩‍🚀 Users Info: </h1>
                    <h2>{{Arr.first_name}} {{Arr.second_name}}</h2>
                    <h6>{{Arr._id}}</h6>
                            <form id="{{Arr._id}}">
                                <div class="">
                                    <div class="col-12 mb-2" style="text-align: center;">
                                        <div class="form-avatar">
                                            <img  src="{{Arr.image}}" alt="{{Arr.first-name}} {{Arr.second-name}}"/>
                                        </div><br>
                                        <input class="form-control form-control-sm mb-5" type="file" id="image" name="image" >
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="id_user" class="form-label">Id:</label>
                                        <input id="id_user" name="id_user" type="text" class="form-control" value="{{Arr._id}}" disabled>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 mb-2"> 
                                            <label for="first_name" class="form-label">Name:</label>
                                            <input id="first_name" name="first_name" type="text" class="form-control"   value="{{Arr.first_name}}" >
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label for="last_name" class="form-label">Last Name:</label>
                                            <input id="last_name" name="last_name" type="text" class="form-control"  value="{{Arr.last_name}}" >
                                        </div>
                                        <div class="col-2 mb-2">
                                            <label for="age" class="form-label">Age:</label>
                                            <input id="age" name="age" type="number" class="form-control "  value="{{Arr.age}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 mb-2">
                                            <label for="email" class="form-label">Email:</label>
                                            <input id="email" name="email" type="email" class="form-control"  value="{{Arr.email}}" >
                                        </div>
                                        <div class="col-4 mb-2">
                                            <label for="phone" class="form-label">Phone:</label>
                                            <input id="phone" name="phone" type="text" class="form-control"  value="{{Arr.phone}}" >
                                        </div>
                                        <div class="col-2 mb-2">
                                            <label for="role" class="form-label">Role:</label>
                                            <select id="role" class="form-select " aria-label=".form-select-sm example" id="role" name="role" type="text" class="form-control"   >
                                                <option selected value="{{Arr.role}}">{{Arr.role}}</option>
                                                <option value="user">user</option>
                                                <option value="admin">admin</option>
                                            </select>
                                        </div>     
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label for="address" class="form-label">Address:</label>
                                        <input id="address" name="address" type="text" class="form-control"  value="{{Arr.address}}" >
                                    </div>
                                    <div class="col-12 mb-4" >
                                        <button type="button" onclick="updateElement('{{Arr._id}}')" class="btn btn-warning" alt="Actualizar">➕ Actualizar información</button>
                                       {{!--  <button type="button" onclick="deleteElement('{{Arr._id}}')" class="btn btn-danger" alt=" borrar">💀 Borrar elemento</button> --}}
                                    </div>
                                </div>
                            </form>
                    {{else}}
                    <h1>No hay usuarios</h1>
                {{/if}} 
            </div>
        </div>
    </div>
<script src="/js/admin.js"></script>
