    <div class="container">
        <div class="row {{!-- align-items-center  --}} justify-content-center">
            <div class="col-12 {{!-- align-self-center --}} mb-3">
                {{#if Arr}}
                        <form id="userArminForm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">NOMBRE</th>
                                        <th scope="col">APELLIDO</th>
                                        <th scope="col">EDAD</th>
                                        <th scope="col">EMAIL</th>
                                        <th scope="col">TELÉFONO</th>
                                        <th scope="col">CONTRASEÑA</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                    {{#each Arr}}
                                <tr>
                                    <th scope="row">
                                        {{this._id}}
                                    </th>
                                    <td>
                                        {{!-- <label for="firs_name" class="form-label">Foto:</label> --}}
                                        <input id="first_name" name="first_name" type="text" class="form-control"   value="{{this.first_name}}" >
                                    </td>
                                    <td>
                                        <input id="last_name" name="last_name" type="text" class="form-control"  value="{{this.last_name}}" >
                                    </td>
                                    <td>
                                        <input id="age" name="age" type="number" class="form-control"  value="{{this.age}}" >
                                    </td>
                                    <td>
                                        <input id="email" name="email" type="email" class="form-control"  value="{{this.email}}" >
                                    </td>
                                    <td>
                                        <input id="phone" name="phone" type="text" class="form-control"  value="{{this.phone}}" >
                                    </td>
                                    <td>
                                        <input id="password" name="password" type="password" class="form-control"  disabled value="1234">
                                    </td>
                                    <td>
                                        <button type="button" onclick="seeElement('{{this._id}}')" class="btn btn-primary">👁‍🗨</button>
                                    </td>
                                    <td>
                                        <button type="button" onclick="updateElement('{{this._id}}')" class="btn btn-warning">➕</button>
                                    </td>
                                    <td>
                                        <button type="button" onclick="deleteElement('{{this._id}}')" class="btn btn-danger">💀</button>
                                    </td>
                                </tr>
                    {{/each}}
                                </tbody>
                            </table>
                        </form>
                {{else}}
                    <h1>No hay usuarios</h1>
                {{/if}} 
            </div>
        </div>
    </div>
<script src="/js/admin.js"></script>