<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div></div>
            <table>
                <tr>
                    <td>Argumentos de entrada </td>
                    <td>{{entrada}}</td>
                </tr>
                <tr>
                    <td>Nombre de la plataforma (sistema operativo)</td>
                    <td>{{ plataforma}}</td>
                </tr>
                <tr>
                    <td>Versión de node.js </td>
                    <td>{{node}}</td>
                </tr>
                <tr>
                    <td>Memoria total reservada (rss)</td>
                    <td>{{memoria}}</td>
                </tr>
                <tr>
                    <td>Path de ejecución</td>
                    <td>{{path}}</td>
                </tr>
                <tr>
                    <td>Process id</td>
                    <td>{{id}}</td>
                </tr>
                <tr>
                    <td>Carpeta del proyecto</td>
                    <td>{{carpeta}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>