<!-- html products -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{#if Arr}}
                {{#each Arr}}
                    <ul>
                        <li>{{this.title}}</li>
                        <li>{{this.price}}</li>
                        <li><img src="http://localhost:8080/img/{{this.image}}"></li>
                        <li>{{this.id}}</li>
                    </ul>
                {{/each}}
            {{else}}
                <h1>no hay productos</h1>    
            {{/if}}
        </div>
    </div>
</div>

<!-- scripts products -->
{{!-- <script src="productos.js"></script>   --}} 